
/*maintenance*/

.body { text-align: center; padding: 150px; }

.h1 { font-size: 50px; }

.body { font: 20px Helvetica, sans-serif; color: #333; }

.article { display: block; text-align: left; width: 650px; margin: 0 auto; }

.a { color: #dc8100; text-decoration: none; }

.a:hover { color: #333; text-decoration: none; }

.card {  background-color: white; padding: 20px; margin-top: 20px;}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
/*end of maintenance*/